<!DOCTYPE html>
<html lang="en" style="height:100%; width: 100%;">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script data-main="scripts/main" src="bower_components/requirejs/require.js"></script>
  <title>Music connects</title>
</head>
<body style="height:100%; width: 100%; margin: 0">
  <div style="width: 100%; height: 100%; position: absolute; background: rgba(209, 209, 209, 0.83); margin: auto">
    <div style="padding: 10% 40%; font-size: 3em">
      <p style="size: 8em;
                font-family: sans-serif;
                font-variant-ligatures: inherit;
                font-variant: small-caps;">Hello from Monseur Devpalsen!</p>
    </div>
  </div>
</body>
</html>
